{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Inicio{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Inicio{% endblock %}

{% block main_content %}
<div class="content">
    <div class="container-fluid">
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
        //
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->