{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Inicio{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Inicio{% endblock %}

{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#reservation-modal">Reservar</button>
            </div>
            {% for reservation in reservations %}
                <div class="col-lg-4">
                    <div class="card card-warning card-outline">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <h5 class="m-0">{{ reservation[1] }} ({{ reservation[4] }} x {{ reservation[4] }})</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                <b>Inicio: </b>
                                {{ reservation[2] }}
                            </p>
                            <p>
                                <b>Fin: </b>
                                {{ reservation[3] }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <a href="/anotations/{{ reservation[0] }}" class="btn btn-info btn-sm">Ver mas</a>
                                <button href="#" class="btn btn-danger btn-sm" onclick="deleteReservation('{{ reservation[0] }}')" data-toggle="modal" data-target="#delete-modal">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

<!-- Create Modal -->
{% include "pages/home/user/reservation-modal.html" %}

<!-- Delete Modal -->
{% include "pages/home/user/delete-modal.html" %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    const reservationFormDelete = $('#delete-form');

    function deleteReservation(id) {
        reservationFormDelete.attr('action', '/reservations/delete/' + id)
    }

    function resetModal() {
        $('#reservation-modal-header').attr('class', 'modal-header bg-primary');
        $('#field').val(null);
        $('#user').val(null);
        $('#start_at').val(null);
        $('#end_at').val(null);
    }

    function resetReservation() {
        reservationFormDelete.attr('action', '#');
    }
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->