<div class="modal fade" id="field-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="field-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <form action="/fields" method="POST" class="modal-content" id="field-form">
            <div class="modal-header bg-primary" id="field-modal-header">
                <h5 class="modal-title" id="field-modalLabel">Nueva cancha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetFormAttributes()">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="name">Nombre de la cancha</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group col-12">
                    <label for="capacity">Capacidad</label>
                    <input type="number" class="form-control" id="capacity" name="capacity" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="resetFormAttributes()">Cancelar</button>
            </div>
        </form>
    </div>
</div>