{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Canchas{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Canchas{% endblock %}

<!-- Navegation Page -->
{% block page_navigation %}
<li class="breadcrumb-item active">Canchas</li>
{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <!-- Alerta -->
        {% if message %}
        <div class="{{ alertClass }}" role="alert">
            <strong>Error: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 d-flex my-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#field-modal" onclick="resetModal()">Agregar</button>
            </div>
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Cancha</th>
                                    <th>Capacidad</th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in fields %}
                                <tr>
                                    <td>{{ field[1] }}</td>
                                    <td>{{ field[2] }}</td>
                                    <td>
                                        <button class="btn btn-secondary btn-sm" onclick="getField('{{ field[0] }}')" data-toggle="modal" data-target="#field-modal">Editar</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" onclick="deleteField('{{ field[0] }}')" data-toggle="modal" data-target="#delete-modal">Eliminar</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- Create Modal -->
{% include "pages/fields/field-modal.html" %}

<!-- Delete Modal -->
{% include "pages/fields/delete-modal.html" %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    const fieldForm = $('#field-form');
    const fieldFormDelete = $('#delete-form');

    function getField(id) {
        fieldForm.attr('action', '/fields/update/' + id);
        $('#field-modal-header').attr('class', 'modal-header bg-secondary');
        $.get('/fields/' + id, function(data) {
            console.log(data);
            $('#name').val(data.name);
            $('#capacity').val(data.capacity);
        });
    }

    function deleteField(id) {
        fieldFormDelete.attr('action', '/fields/delete/' + id)
    }

    function resetModal() {
        $('#field-modal-header').attr('class', 'modal-header bg-primary');
        $('#name').val(null);
        $('#capacity').val(null);
    }

    function resetFormAttributes() {
        fieldForm.attr('action', '/fields');
    }

    function resetfield() {
        fieldFormDelete.attr('action', '#');
    }
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->